{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'core/style.css' %}">

<h2>Выберете действие</h2>
<table>
    <tr>
        <th><a href="add_manga">Добавить Мангу</a></th>
        <th><a href="add_chapter">Добавить главу</th>
        <th><a href="add_page_select_manga">Добавть страницу</th>
    </tr>
</table>


<h3><a href="/core">Вернуться</a></h3>