{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'core/style.css' %}">
   
    <h2>Список Манги</h2>
    <table>
        <tr><th>Id</th><th>Название</th></tr>
        {% for manags in manga %}
            <tr><td>{{ manags.id }}</td><td><a href="detail/{{ manags.id }}">{{ manags.title }}</a></td></tr>
        {% endfor %}
    </table>

<h3><a href="add">Добавить</a></h3>
