{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'core/style.css' %}">

<h2>Страницы</h2>
<table>
    <tr><th>Id</th><th>номер страницы</th><th>картинка</th><th>id chapter</th></tr>
    {% for pages in page %}
        <tr><td>{{ pages.id }}</td><td>{{ pages.number }}</td><td><img class="manga__img" src="{{ pages.image.url}}"/></td><td>{{ pages.chapter_id }}</td></tr>
    {% endfor %}
</table>

<h3><a href="/core/detail/{{ manga_id }}">Вернуться</a></h3>