<template>
    <div class="container">
        <h1>HEY THERE</h1>
    </div>
</template>

<script>
export default {
    
}
</script>

<style scoped>
    body{
        background: #5da130;
    }
</style>