<template>
  <div>
    <MainHead></MainHead>
    <MainContent :testapi="testapi"> </MainContent>
    <!--<button type="button" @click="getHashtags()">Грузи города</button>-->
    <TestApi :testapi="testapi"> </TestApi>
  </div>
</template>

<!-- INCLUDE CDN -->
<script src="https://unpkg.com/axios@0.19.0/dist/axios.min.js"></script>

<script>
import TestApi from '../components/TestApi'
import MainHead from '../components/MainHead.vue'
import axios from 'axios'
import MainContent from '../components/MainContent'


export default {
  name: 'app',
    data(){
    return {
      testapi: [],
      url: {
          testapilink: 'http://localhost:8000/api/v1/manga/?format=json',
      },
    }
  },
  components: {
    TestApi,
    MainHead,
    MainContent
  },
  methods: {
    getHashtags(){
        axios.get(this.url.testapilink).then((response) => {
            this.testapi = response.data;
            console.log("done")
        });
    },
  },
    beforeMount(){
      this.getHashtags()
 },
}
</script>

<style>

</style>