<template>
  <div id="app">
<router-view />
  </div>
</template>

<!-- INCLUDE CDN -->
<script src="https://unpkg.com/axios@0.19.0/dist/axios.min.js"></script>

<script>
import axios from 'axios'


export default {
  name: 'app',
    data(){
    return {
      
    }
  },
}
</script>

<style>

</style>
